{% extends 'base.html' %} {% block page_title %}Home Page{% endblock %}

{% block background %}

<div class="first-container home-page">
    <div class="baner ">
        <div class="image-darker">
            <img src="/media/banners/b2.jpg" class="background-high "></div>
        <div class="banner-title-up text-center">

            <h1 class="text-white d-none d-lg-block">Better service starts here</h1>
            <h3 class="text-white  mt-3 mb-5">Create, upvote, track bugs and features.</h3>

            <a class="btn btn-outline-danger  " href="{% url 'registration' %}">Free account&nbsp; <i
                    class="fas fa-user-plus"></i></a>
            <a class="btn btn-outline-info  " href="#services">Learn more&nbsp; <i
                    class="fas fa-angle-double-down"></i></a>
        </div>

    </div>
</div>


{% endblock background %}

{% block content %}
<section id="services">
    <div class="container" >
        <h2 data-aos="fade-up">Our Services</h2>
        <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 center">
                <div class="card shadow pt-3 mb-2 hoverable service" data-aos="fade-right">
                    <div class="center">
                        <div class="octagon center"><i class="fas fa-bug  octagon-icon"></i></div>
                    </div>
                    <div class="  pt-3 text-center">
                        <div>
                            <h5 class="mb-2 text-danger">FIXING BUGS</h5>

                            <div class="faded mb-3">

                                <p>Find a bug in the app? Create a new ticket in our Issue Tracker! Creating and
                                    commenting bugs is free! We will try to
                                    fix the bug as soon as possible. To help us prioritize our work, users are able to
                                    upvote bugs (by signifying ‘I have this too’).
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 center">
                <div class="card shadow pt-3 mb-2 hoverable service" data-aos="fade-left">
                    <div class="center">
                        <div class="octagon center"><i class="far fa-gem octagon-icon"></i></div>
                    </div>
                    <div class="  pt-3 text-center">
                        <div>
                            <h5 class="mb-2 text-danger">ADDING FEATURES</h5>

                            <div class="faded mb-3 ">

                                <p>To upvote a feature request, users need to donate some money (with a minimum amount
                                    of 50Euro) to pay for our
                                    time in working on it. In turn, we promise always to spend at least 50% of our time
                                    working on developing the
                                    features.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<div class="container">
    <h2 data-aos="fade-up">Choose Your Option</h2>
    <div class="row center mb-4">

        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow text-center hoverable" data-aos="fade-up">
                <div class="card-header ">
                    <h4 class="my-0  ">Visitor</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pb-0">Free </h1>
                    <ul class=" list-unstyled  ">
                        <li><i class="fas fa-check yes-icon"></i>&ensp;View Bugs </li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;View Features</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;View Posts</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Upvote Bugs</li>

                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Upvote Posts</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Create Bugs</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Comment Posts</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Comment Bugs</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Create Features</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Upvote Features</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Comment Features</li>

                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-info">Browse</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow text-center hoverable" data-aos="fade-up" data-aos-delay="500">
                <div class="card-header bugs">
                    <h4 class="my-0  ">Member</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pb-0">Free </h1>
                    <ul class="list-unstyled  ">
                        <li><i class="fas fa-check yes-icon"></i>&ensp;View Bugs </li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;View Features</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;View Posts</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;Upvote Bugs</li>

                        <li><i class="fas fa-check yes-icon"></i>&ensp;Upvote Posts</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;Create Bugs</li>

                        <li><i class="fas fa-check yes-icon"></i>&ensp;Comment Bugs</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;Comment Posts</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Create Features</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Upvote Features</li>
                        <li><i class="far fa-times-circle no-icon"></i>&ensp;Comment Features</li>

                    </ul>
                    <a class="btn btn-outline-danger btn-lg btn-block" href="{% url 'registration' %}">Sign Up </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-4 shadow text-center hoverable" data-aos="fade-up" data-aos-delay="700">
                <div class="card-header features">
                    <h4 class="my-0 ">Sponsor</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title card-title pb-0">50 <small class="text-muted">&euro;</small></h1>
                    <ul class="list-unstyled ">
                        <li><i class="fas fa-check yes-icon"></i>&ensp;View Bugs </li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;View Features</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;View Posts</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;Upvote Bugs</li>

                        <li><i class="fas fa-check yes-icon"></i>&ensp;Upvote Posts</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;Create Bugs</li>

                        <li><i class="fas fa-check yes-icon"></i>&ensp;Comment Bugs</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;Comment Posts</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;Create Features</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;Upvote Features</li>
                        <li><i class="fas fa-check yes-icon"></i>&ensp;Comment Features</li>
                    </ul>

                    <a class="btn btn-outline-danger btn-lg btn-block" href="{% url 'registration' %}">Sign Up </a>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock content %}