{% extends "base.html" %}
{% block page_title %}Password Reset Page{% endblock %}

{% load bootstrap_tags %}

{% block background %}
<div class="first-container pages">
    <div class="baner ">
        <div class="image-darker">
            <img src="/static/img/banners/b1.jpg" class="background-short "></div>
        <div class="banner-title-down text-center ">
            <h3 class="text-white ">Accounts/Password Reset</h3>
        </div>
    </div>
</div>
{% endblock background %}


{% block content %}
<div class="container">
    <div class="row center mt-5 mb-5">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow mt-5">
                <div class="card-header text-center">
                    <h3>Password Reset</h3>
                </div>
                <div class="center card-body ">
                    <form method="POST">
                        <p>Forgotten your password? Fear not. Enter your email address below, and we'll email
                            instructions for setting a new one.</p>
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                        <button type="submit" class="btn btn-info btn-rounded   btn-block">Send me new password</button>
                    </form>
                </div>
                <div class="border-top card-footer">
                    <small class="text-muted center">
                        <a class="ml-2" href="{% url 'user-login' %}">
                            << Back to Log in</a> </small> 
                </div> 
            </div> 
        </div>
    </div> 
</div>
 {% endblock %}