{% extends "base.html" %}
{% block page_title %}Password Reset Done{% endblock %}

{% block background %}
<div class="first-container pages">
    <div class="baner ">
        <div class="image-darker">
            <img src="https://issuetracker-django.s3-eu-west-1.amazonaws.com/static/img/banners/b1.jpg" class="background-short "></div>
        <div class="banner-title-down text-center ">
            <h3 class="text-white ">Accounts/Password Sent</h3>
        </div>
    </div>
</div>
{% endblock background %}


{% block content %}

<div class="container">
    <div class="center mt-5 mb-5">
        <div class="card shadow mt-4">
            <div class="card-header text-center">
                <h3>Password Reset</h3>
            </div>
            <div class="center card-body ">
                <div class="text-center">
                    <h4>An email has been sent with instructions to reset your password.</h4>
                    <h6>If you don't receive password reset instructions within an hour or two, check your junk or spam
                        folder.</h6>
                </div>
            </div>
            <div class="border-top card-footer">
                <small class="text-muted center">
                    <a class="ml-2" href="{% url 'index' %}">
                        << Home Page</a> </small> 
            </div>
         </div>
    </div> 
</div> 
{% endblock content %}