{% extends "base.html" %}
{% block page_title %}Password Reset Complete{% endblock %}

{% block background %}
<div class="first-container pages">
    <div class="baner ">
        <div class="image-darker">
            <img src="/media/banners/b1.jpg" class="background-short "></div>
        <div class="banner-title-down text-center ">
            <h3 class="text-white ">Accounts/Password Reset Complete</h3>
        </div>
    </div>
</div>
{% endblock background %}

{% block content %}

<div class="container">
    <div class="center mt-5 mb-5">
        <div class="card shadow mt-5">
            <div class="card-header text-center">
                <h3>Password Reset</h3>
            </div>
            <div class="center card-body ">
                <div class="text-center">
                    Your password has been set. You may go ahead and log in now.
                </div>
            </div>
            <div class="border-top card-footer">
                <small class="text-muted center">
                    <a href="{% url 'user-login' %}">Sign In Here</a></small>
            </div>
        </div>
    </div>
</div>

{% endblock content %}