{% extends 'base.html' %}
{% load my_tags %}
{% load bootstrap_tags %}

{% block page_title %}Blog Posts{% endblock %}

{% block background %}
<div class="first-container pages">
    <div class="baner ">
        <div class="image-darker">
            <img src="https://issuetracker-django.s3-eu-west-1.amazonaws.com/static/img/banners/b+(16a).jpg" class="background-short "></div>
        <div class="banner-title-down text-center ">
            <h3 class="text-white ">Blog/All Posts</h3>
        </div>
    </div>
</div>
{% endblock background %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <span>
                <h5 class=" ">Sort By</h5>
                <form class=" " action="{% url 'sort_by' %}" method="get">
                    <div class="form-group">
                        <select class="custom-select form-control select-search" name="type" type="submit"
                            onChange="this.form.submit()">
                            {% for option in selections %}
                            {% if type == option %}
                            <option value="{{option}}" selected>{{ option|upper }}</option>
                            {% else %}
                            <option value="{{option}}">{{ option|upper }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </span>
        </div>
    </div>
</div>



<div class="container ">

    {% for post in object_list %}
    <div class="row blogs shadow">
        <div class="col-md-4 col-sm-12 text-center">
            <a class="story-img" href="{% url 'post_detail' post.id %}">
                <img class="article-img img-fluid img-thumbnail shadow" src="/media/{{ post.image }}">
            </a>


        </div>
        <div class="col-md-8 col-sm-12">
            <h3 class="post-title">{{ post.title }}</h3>

            <p class="mb-3">{{ post.content|truncatewords:30 }}</p>
            <p><a href="{% url 'post_detail' post.id %}" class="btn btn-info">Continue reading</a></p>
            {% if user.is_authenticated and user.username == post.author.username %}
            <span class="post-info"><i class="fas fa-user-circle"></i> <a class="mr-2"
                    href="{% url 'profile' %}">{{ post.author }}</a>,</span>
            {% else %}
            <span class="post-info"><i class="fas fa-user-circle"></i> <a class="mr-2"
                    href="{% url 'other_user_profile' post.author.username %}">{{ post.author }}</a>,</span>

            {% endif %}
            <span class=" icon-blog"><i class="far fa-calendar-alt"></i> {{ post.published_date }} </span>
            <p><span class=" icon-blog"><i class="far fa-eye"></i> {{post.views}}</span>
                <span class=" icon-blog"><i class="far fa-thumbs-up"></i> {{post.likes}}</span>
                <span class="icon-blog "><i class="far fa-comment-alt"></i> {{post.comments.all.count}}</p></span>


        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-center mb-2 mt-2">
        <div class="pagination">
            <span class="step-links">
                {% if object_list.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?{% param_replace page=1 %}">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ object_list.previous_page_number }}">Previous</a>
                {% endif %}


                {% for num in object_list.paginator.page_range %}
                {% if object_list.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > object_list.number|add:'-3' and num < object_list.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}


                {% if object_list.has_next %}
                <a class="btn btn-outline-info mb-4"
                    href="?{% param_replace page=object_list.next_page_number %}">Next</a>
                <a class="btn btn-outline-info mb-4"
                    href="?{% param_replace page=object_list.paginator.num_pages %}">Last</a>
                {% endif %}
            </span>
        </div>
    </div>

</div>

{% endblock %}