{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %}Post Edit{% endblock %}

{% block background %}
<div class="first-container pages">
    <div class="baner ">
        <div class="image-darker">
            <img src="/media/banners/b (16a).jpg" class="background-short "></div>
        <div class="banner-title-down text-center ">
            <h3 class="text-white ">Blog/Edit</h3>
        </div>
    </div>
</div>
{% endblock background %}

{% block content %}
<div class="container">
    <div class="center">
        <div class="card shadow mt-5 mb-5">
            <div class="card-header text-center">
                <h3>Create Post</h3>
            </div>
            <div class="center card-body">
                <form method="POST" enctype="multipart/form-data" class="post-form">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-info btn-rounded   btn-block">Save Post &nbsp; <i
                            class="far fa-paper-plane"></i></button>
                </form>
            </div>
            <div class="border-top card-footer">
                <small class="text-muted center">
                    <a href="{% url ' profile'  %} " class="ml-1"> Back to Profile Page
                    </a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}