{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}Blog Post{% endblock %}

{% block background %}
<div class="first-container pages">
    <div class="baner ">
        <div class="image-darker">
            <img src="https://issuetracker-django.s3-eu-west-1.amazonaws.com/static/img/banners/b+(16a).jpg" class="background-short "></div>
        <div class="banner-title-down text-center ">


            <h3 class="text-white ">Blog/Post Detail</h3>


        </div>

    </div>
</div>


{% endblock background %}
{% block content %}
<div class="container container-1000px">
    <div class="row mt-5 mb-5">

        <div class="col  pt-5 ">
            {% if post.image %}
            <img class="img-blogpost center img-thumbnail" src="/media/{{ post.image }}">
            <span class="post-info published"><span class="boldtext">Published on:</span> {{ post.published_date }}
            </span>
            {% endif %}
            <h3 class="post-title pt-3 pb-3">{{ post.title }}</h3>

            <a class="" href="#">
                <img src="{{ post.author.profile.image.url|default:'/media/img/default.jpg' }}"
                    class="img-circle comment-avatar">

            </a>
            <p><span class="boldtext">Author:</span>
                {% if user.is_authenticated and user.username == post.author.username %}
                <span class="post-info"> <a class="mr-2" href="{% url 'profile'  %} ">{{ post.author }}</a></span>
                {% else %}
                <span class="post-info"><a class="mr-2"
                        href="{% url 'other_user_profile' post.author.username %} ">{{ post.author }}</a></span>

                {% endif %}</p>
            <div class="col-xs-9">
                <p class="text-justify post-content">{{ post.content }}</p>
                <div class="post-info-background mb-4">

                    <span class="post-info"><span class="boldtext">Views: </span> {{post.views}} </span>
                    <span class="post-info"><span class="boldtext">Tag:</span> {{ post.tag }} </span>
                    <span class="post-info"><span class="boldtext">Likes:</span> {{ post.likes }} </span>
                </div>
                <p><a href="{% url 'sort_by' post.id %}" class="btn btn-info">Back to Blog</a></p>
                {% if user.is_authenticated and user == post.author %}
                <a href="{% url 'edit_post' post.id %}" class="btn btn-info">Edit Post</a>
                {% endif %}
                {% if user.is_authenticated %}
                {% if is_liked == False %}
                <a href="{% url 'liking_post' post.id %}" class="btn btn-primary">Like Post</a>
                {% endif %}
                {% endif %}
                <hr>
            </div>

        </div>
    </div>

    <!-- Comments Form -->

    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">

        </div>
        <div class="col-sm-10 col-md-9 mb-3">
            {% if user.is_authenticated %}
            <h5 class="center">Leave a comment</h5>
            <span class="shadow center comment-form">
                <form action="." method="post" class="">
                    {{ comment_form|as_bootstrap }}
                    {% csrf_token %}
                    <span class="center"><button class="btn btn-primary" type="submit">Add comment</button></span>

                </form>
            </span>
            {% endif %}
            <hr>


            <span>{{post.comments.all.count}} Comment(s)</span>
        </div>
    </div>




    {% for comment in post.comments.all %}
    <div class="row  card mb-2 ml-1 mr-1">
        <ul class="media-list">


            <li class="media">
                <span class="pull-left">
                    <img src="{{ comment.author.profile.image.url|default:'/media/img/default.jpg' }}" alt=""
                        class="comment-avatar img-fluid">
                </span>
                <div class="media-body">
                    {{ comment.author }},
                    <strong class="text-success">{{ comment.email }}</strong>
                    {% if comment.author in group %}
                    <span class="sponsor">SPONSOR</span>
                    {%endif%}
                    <div>
                        <span class="text-muted pull-right">
                            <small class="text-muted post-info">{{comment.created_date|timesince}} ago</small>
                        </span>
                    </div>
                    <p>{{ comment.text|linebreaks }}</p>
                </div>
            </li>
        </ul>

    </div>
    {% empty %}

    {% endfor %}


</div>
{% endblock %}