{% extends "base.html" %}

{% load my_tags %}

{% block page_title %}Features{% endblock %}

{% block background %}
<div class="first-container pages">
    <div class="baner ">
        <div class="image-darker">
            <img src="https://issuetracker-django.s3-eu-west-1.amazonaws.com/static/img/banners/b+(16a).jpg" class="background-short "></div>
        <div class="banner-title-down text-center ">


            <h3 class="text-white ">Features/All Features</h3>


        </div>

    </div>
</div>


{% endblock background %}
{% block content %}



<div class="container container-1000px">
    <div class="row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <span>
                <h5 class=" ">Sort By</h5>




                <form class=" " action="{% url 'get_features' %}" method="get">
                    <div class="form-group">
                        <select class="custom-select form-control select-search" name="type" type="submit"
                            onChange="this.form.submit()">
                            {% for option in selections %}
                            {% if type == option %}
                            <option value="{{option}}" selected>{{ option|upper }}</option>
                            {% else %}
                            <option value="{{option}}">{{ option|upper }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>


                </form>
            </span>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-6">
            <a href="{% url 'new_feature' %}" class="btn feature-button go-right add-feature">Add Feature</a>
        </div>

    </div>

    {% for feature in object_list %}

    <div class="row feature-card hoverable shadow">

        <div class="col-8">
            <i class="far fa-gem card-header-font"></i>
            <a href="{% url 'feature_detail' feature.pk %}"><span class="wb">{{ feature.title|title }}</span></a> <span
                class="text-muted">#{{feature.id}}</span>
            <hr>
            <div class="mb-2 mt-2">
                {% if user.is_authenticated and user.username == feature.author.username %}
                <span class="post-info"><i class="fas fa-user-circle"></i> <a class="mr-2"
                        href=" {% url 'profile'  %}">{{ feature.author }}</a>,</span>
                {% else %}
                <span class="post-info"><i class="fas fa-user-circle"></i> <a class="mr-2"
                        href=" {% url 'other_user_profile' feature.author.username %}">{{ feature.author }}</a>,</span>

                {% endif %}

                <span class="post-info"><span class=" icon-blog"><i class="far fa-calendar-alt"></i>
                        {{ feature.published_date }}
                    </span></span>

                <span class=" icon-blog post-info"><i class="far fa-eye"></i> {{feature.views}}</span>
                <span class=" icon-blog post-info"><i class="far fa-thumbs-up"></i> {{feature.likes}}</span>
                <span class="icon-blog post-info"><i class="far fa-comment-alt"></i>
                    {{feature.comments.all.count}}</span>
            </div>
        </div>
        <div class="col-4">
            <span class="float-right status status-{{feature.status}}">{{ feature.get_status_display }}</span>
        </div>

    </div>
    {% endfor %}
    <div class="d-flex justify-content-center mb-2 mt-3">
        <div class="pagination">
            <span class="step-links">
                {% if object_list.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?{% param_replace page=1 %}">First</a>
                <a class="btn btn-outline-info mb-4" href="?{% param_replace page=object_list.previous_page_number %}">Previous</a>
                {% endif %}


                {% for num in object_list.paginator.page_range %}
                {% if object_list.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > object_list.number|add:'-3' and num < object_list.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}


                {% if object_list.has_next %}
                <a class="btn btn-outline-info mb-4"
                    href="?{% param_replace page=object_list.next_page_number %}">Next</a>
                <a class="btn btn-outline-info mb-4"
                    href="?{% param_replace page=object_list.paginator.num_pages %}">Last</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}