/* global settings */
* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
  padding: inherit;
}

.main-container {
  flex: 1 0 auto;
}

.center{
    display: flex;
    justify-content: center;
}

.alert{
  text-align: center;
}

.shadow{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.error-msg{
    color: red;
}

.messages{
  background-color: #f1f1f1;
}

.first-container{
  background:   no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

.home-page{
height: 500px;
}

.pages{
height: 300px;
}

.background-short{
  background:   no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 300px;
 
}
.background-high{
  background:   no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 500px;
   
}
.image-darker:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
   
}

.baner{
  position: relative;
}

.banner-title-up {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 100%;
}

.banner-title-down {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 100%;
}

/* ------------------------navbar-------------------------- */
.navbar {
  height: 58px;
  width: 100%;
  position: fixed;
  color: aqua;
  background: none;
  letter-spacing: 0.025em;
  transition: background-color 0.2s linear;
  padding: 0;
}

.solid-nav {
    background-color: #52534E;
    transition: background-color 0.2s linear;
    color: aqua;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }

.nav-link{
  color: aqua;
}

.nav-link:hover{
  color: rgb(202, 35, 35);
}

a:hover{
  color:rgb(202, 35, 35);
}

.navbar-brand{
    padding: 10px 10px;
    font-size: 1.7rem;
    transition: font-size 0.2s linear;
    font-family: 'Orbitron', sans-serif;
}

.smaller-font{
  font-size: 1.5rem;
}

.nav-link.active{
  color: #31de79;
}

.icon-bar {
    background-color: rgb(193, 64, 64);
}

.navbar-collapse{
  height: auto;
}

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-left:5px;
  margin-right: 3px;
}

.drop-item{
  color: aqua;
}

.drop-item:hover{
  color: rgb(208, 48, 61);
  background-color: rgb(85, 85, 93);
}

.dropdown-background{
  background-color: rgb(85, 85, 93);
}

.navbar-toggler{
  color: aqua;
}

.site-header .navbar-nav .nav-link {
  color: #1984c2;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* --------------------------------footer -------------------------------*/
footer{
     background-color:#ebf4fa;
     padding:20px 0px;
}	       

.address span , .menu span{
   color: #818494; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.address li a , .menu li a{
    color:#818494;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}

/*---------------scroll up button--------------------*/
#button-up {
  display: inline-block;
  background-color: rgb(79, 74, 67);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 2px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button-up::after {
  content: "";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button-up:hover {
  cursor: pointer;
  background-color: #333;
}

#button-up:active {
  background-color: #555;
}

#button-up.show {
  opacity: 1;
  visibility: visible;
}

.arrow-up{
font-size: xx-large;
    position: absolute;
    left: 15px;
    top: 9px;
    color: azure;
}

/*-----------------------login---------------------------*/
.reset-password {
    margin-top: 2rem;
    font-size: 0.9rem;
    margin-bottom: 0px;
}

/*--------------------------cards-----------------------*/
.card-header-font{
    font-size: 1.5rem;
}

.card-header:first-child {
    border-radius: 0 0 10px 10px;
}

.card-footer, .card-footer:last-child {
    border-radius: 10px 10px 0px 0px;
}





/* media queries */
@media (max-width: 500px) {
    .navbar-brand{
        font-size: 1rem;
    }
}

@media (max-width: 991.98px) {
 
   .navbar-collapse{
        background: #515050;
    }

   .site-header .navbar-nav .nav-link {
        border-top: 1px dashed;
    }
}