{% extends 'base.html' %}
{% block page_title %}Registration Page{% endblock %}
{% load bootstrap_tags %}

<!------------------------------Banner------------------------------->
{% block background %}
<div class="first-container pages">
    <div class="baner ">
        <div class="image-darker">
            <img src="https://issuetracker-django.s3-eu-west-1.amazonaws.com/static/img/banners/b1.jpg"
                class="background-short "></div>
        <div class="banner-title-down text-center ">
            <h3 class="text-white ">Accounts/Register</h3>
        </div>
    </div>
</div>
{% endblock background %}

{% block content %}
<div class="container mb-5">
    <!------------------------------Register form------------------------------->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow mt-5">
                <h3 class="card-header center">Register</h3>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ registration_form | as_bootstrap }}
                        <button type="submit" class="btn btn-info btn-rounded   btn-block">Register &nbsp; <i
                                class="fas fa-user-plus"></i></button>
                    </form>
                </div>
                <div class="border-top card-footer">
                    <small class="text-muted center">
                        <span> Have an account? <a href="{% url 'user-login' %}" class="ml-1"> Sign in
                            </a></span></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}